<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/assets/images/secondskinlogo.png" alt="Molla Logo" width="80" height="20">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a th:href="@{/}" class="sf-with-ul">Home</a>

                                </li>

                                <li>
                                    <a th:href="@{/product-gallery}" class="sf-with-ul">Products</a>


                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">



                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">!</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product" th:each="cartItem :${cartItems}">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html" th:text="${cartItem.variant.products.productName}"></a>

                                            </h4>
                                            <span class="cart-product-variant">
                                                <span ><a href="#" th:text="${cartItem.variant.variantName}"></a></span>

                                            </span>
                                            <div>
                                                <span class="cart-product-info">
                                                <span class="cart-product-qty" th:text="${cartItem.variant.price}"></span>
                                                 </span>
                                            </div>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
<!--                                                <img th:src="${cartItem.variant.products.images[0]}" alt="product">-->
                                                <img th:src="@{/productImages/{imageUrl}(imageUrl=${cartItem.variant.products.images[0].imageUrl})}" th:alt="${cartItem.variant.products.images[0].imageUrl}">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price" th:text="${cartTotal}"></span>
                                    </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a th:href="@{/cart}" class="btn btn-primary">CART</a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
            </div>
         </header><!-- End .header -->


        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/product-gallery}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">

	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Product</th>
                                            <th>Variant</th>
											<th>price</th>
                                            <th>Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
										<tr class="cart-item" th:each="cartItem:${cartItems}">
											<td class="product-col">
												<div class="product">
													<figure class="product-media">
<!--														<a href="#">-->
<!--															<img th:src="@{/productImages/{imageUrl}(imageUrl=${imageUrl=${cartItem.variant.product.images[0].imageUrl})}" th:alt="${cartItem.variant.product.images[0].imageUrl}">-->
                                                        <img th:src="@{/productImages/{imageUrl}(imageUrl=${cartItem.variant.products.images[0].imageUrl})}" th:alt="${cartItem.variant.products.images[0].imageUrl}">


                                                        <!--														</a>-->
													</figure>

													<h3 class="product-title">
														<a  href="#" th:text="${cartItem.variant.products.productName}"></a>
													</h3><!-- End .product-title -->
												</div><!-- End .product -->
											</td>
											<td class="price-col" th:text="${cartItem.variant.variantName}"></td>
                                            <td class="price-col" th:text="${cartItem.variant.price}"></td>





                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">

                                                    <input type="number" size="4" class="input-text qty text" title="Qty" th:value="${cartItem.quantity}" min="0" step="1" name="quantities[${cartItem.id}]" th:id="${cartItem.id}" th:data-variant-price="${cartItem.variant.price}" onchange="updateTotalPrice(this)">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount" th:text="${cartItem.variant.price * cartItem.quantity}"></span>
                                            </td>
                                            <td>

                                                <a th:href="@{/delete/{id}(id=${cartItem.id})}" class="btn btn-primary">Remove</a>

                                            </td>

                                        </tr>

									</tbody>
								  </table><!-- End .table table-wishlist -->
                                </th:block>


	                			<div class="cart-bottom">

		            			</div><!-- End .cart-bottom -->
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
                                <th:block th:unless="${#lists.isEmpty(cartItems)}">
	                			<div class="summary summary-cart">

	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td >$ <span id="sub-total"></span></td>
	                						</tr><!-- End .summary-subtotal -->
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$0.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="standart-shipping">Standart:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$10.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="express-shipping">Express:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$20.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-estimate">
	                							<td>Estimate for Your Country<br> <a th:href="@{/details/user-account}">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr><!-- End .summary-shipping-estimate -->

	                					</tbody>
	                				 </table><!-- End .table table-summary -->

	                				<a th:href="@{/checkout}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div><!-- End .summary -->
                                </th:block>




                                <a th:href="@{/product-gallery}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


        <th:block th:if="${#lists.isEmpty(cartItems)}">
        <div class="d-flex justify-content-center  text-center">
        <div  class="card " style="width: 30rem;">
<!--            <img src="..." class="card-img-top" alt="...">-->
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div class="card-body">
                <h5 class="card-title ">CART Empty</h5>
                <a th:href="@{/product-gallery}" class="btn btn-primary">Continue shopping</a>


            </div>
        </div>
        </div>
        </th:block>


        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/assets/images/secondskinlogo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a th:href="@{/}">Home</a>

                    </li>

                    <li>
                        <a th:href="@{/product-gallery}" class="sf-with-ul">Products</a>

                    </li>

                    <li>
                        <a th:href="@{/cart}">Cart</a>


                    </li>
                    <li>
                        <a th:href="@{/}" class="sf-with-ul">pages</a>

                        <ul>
                            <li><a th:href="@{/product-gallery}">Products</a></li>
                            <li><a th:href="@{/cart}">Cart</a></li>

                            <li><a th:href="@{/details/user-account}">Portfolio</a></li>

                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>





<!--<script>-->

<!--    const subTotal = document.getElementById("sub-total");-->
<!--    const summeryTotal = document.getElementById("summary-total");-->


<!--    function updateTotalPrice(inputQuantity){-->
<!--        console.log('inputQuantity.value',inputQuantity.value);-->
<!--        console.log(inputQuantity.id);-->
<!--        const id = inputQuantity.id;-->
<!--        const totalPrice = fetchData(`/calculateTotalPrice/${id}?`+ `quantity=${inputQuantity.value}`, inputQuantity);-->
<!--    }-->

<!--    async function fetchData (url, currInp) {-->
<!--       const response = await fetch(url,{method: "GET"});-->
<!--       if(response.ok){-->
<!--           const totalPrice = await response.json();-->
<!--           const totalPriceSpan = currInp.parentElement.parentElement.nextElementSibling.querySelector(".amount");-->

<!--           const singleVarientPrice = +totalPrice / currInp.value;-->


<!--           let summary_Total = 0;-->
<!--           console.log(+totalPrice,  +singleVarientPrice)-->
<!--           if(+totalPrice > +totalPriceSpan.innerText) summary_Total = +summeryTotal.innerText + +singleVarientPrice-->
<!--           else if (+totalPrice < +totalPriceSpan.innerText) summary_Total = +summeryTotal.innerText - +singleVarientPrice;-->



<!--           summeryTotal.innerText = summary_Total;-->
<!--           totalPriceSpan.innerText  = totalPrice;-->
<!--       }-->
<!--    }-->
<!--</script>-->

<!--<script>-->
<!--    function updateTotalPrice(inputquantity){-->
<!--     console.log('inputquantity.value',inputquantity.value);-->

<!--    }-->


<!--    <script>-->

<!--function updateTotalPrice(inputElement) {-->


<!--  var cartItemElement = inputElement.closest('.cart-item');-->
<!--  if (!cartItemElement) {-->
<!--    return;-->
<!--  }-->

<!--  var quantity = parseInt(inputElement.value);-->
<!--  var variantPrice = parseFloat(inputElement.getAttribute('data-variant-price'));-->
<!--&lt;!&ndash;  console.log(data-variant-price)&ndash;&gt;-->
<!--console.log(variantPrice)-->


<!--  var newSubtotal = quantity * variantPrice;-->
<!--  var subtotalElement = cartItemElement.querySelector('.amount');-->

<!--  subtotalElement.textContent = newSubtotal.toFixed(2);-->



<!--&lt;!&ndash;  &ndash;&gt;-->

<!--// Calculate overall cart total by looping through each cart item-->
<!--  var cartItems = document.querySelectorAll('.cart-item');-->
<!--  var cartTotal = 0;-->

<!--  cartItems.forEach(function (cartItem) {-->
<!--    var quantityInput = cartItem.querySelector('.input-text.qty');-->
<!--    var variantPrice = parseFloat(quantityInput.getAttribute('data-variant-price'));-->
<!--    var quantity = parseInt(quantityInput.value);-->
<!--    var subtotal = quantity * variantPrice;-->

<!--    cartTotal += subtotal;-->
<!--  });-->

<!--  // Update the overall cart total in the summary section-->
<!--  var summaryTotalElement = document.getElementById('summary-total');-->
<!--  summaryTotalElement.textContent = cartTotal.toFixed(2);-->


<!--}-->
<!--</script>-->




    <script>
function updateTotalPrice(inputElement) {
    var cartItemElement = inputElement.closest('.cart-item');
    if (!cartItemElement) {
        return;
    }

    var quantity = parseInt(inputElement.value);
    var variantPrice = parseFloat(inputElement.getAttribute('data-variant-price'));

    var newSubtotal = quantity * variantPrice;
    var subtotalElement = cartItemElement.querySelector('.amount');
    if (subtotalElement) {
        subtotalElement.textContent = newSubtotal.toFixed(2);
    }

    // Update backend and fetch updated cart item total
    updateBackend(inputElement, quantity); // Pass the correct parameter here
}

function updateBackend(inputElement, newQuantity) {
    var cartItemId = inputElement.getAttribute('id');

    fetch(`/update-quantity?cartItemId=${cartItemId}&newQuantity=${newQuantity}`, {
        method: 'POST', // Specify the HTTP method
        headers: {
            'Content-Type': 'application/json' // Specify that you're sending JSON data
        }
    })
    .then(response => response.json())
    .then(updatedCartItemTotal => {
        var cartItemElement = inputElement.closest('.cart-item');
        var subtotalElement = cartItemElement.querySelector('.amount');
        if (subtotalElement) {
            subtotalElement.textContent = updatedCartItemTotal.toFixed(2);
        }
    });
}
</script>


















</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
</html>