    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- molla/product-extended.html  22 Nov 2019 10:03:20 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />






    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include MDB CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.2/css/mdb.min.css">

    <!-- Include Bootstrap JS and MDB JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.2/js/mdb.min.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>





    <style>
    .star {
    cursor: pointer;
    }


    .star.filled {
    color: gold; /* Filled star color */
    }



<!--    PRODUCT RATING -->

     .rating-box {
  position: relative;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
 }

  .rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 0.8rem;
}
  .stars i {
  color: #e6e6e6;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-bottom: 0.8rem;
}
  .stars i.active {
  color: #ff9c1a;
}


        /* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
 </style>



</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
<!--                                    <li><a th:href="@{/logout}" data-toggle="modal"><i class="icon-user"></i>LogOut</a></li>-->
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="fa fa-user border-none" style="border:none"> Logout</button>
                                    </form>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/assets/images/secondskinlogo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a th:href="@{/}" class="sf-with-ul">Home</a>


                                </li>

                                <li>
                                    <a th:href="@{/product-gallery}" class="sf-with-ul">Products</a>

                                </li>
                                <li>
                                    <a th:href="@{/cart}" class="sf-with-ul">Cart</a>


                                </li>
                                <li th:if="${#request.isUserInRole('ROLE_USER')}">
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="fa fa-user border-none icon-user" style="border:none"> Logout</button>
                                    </form>
                                </li>


                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->


                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">


                                <div class="dropdown-cart-action">
                                    <a th:href="@{/cart}" class="btn btn-primary">View Cart</a>
                                    <a th:href="@{/wishlist/view-wishlist}" class="btn btn-primary">WishList</a>
                                </div>

                                    <!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/product-gallery}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">SingleProduct</li>
                    </ol>


                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->




            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery">
                                    <figure class="product-main-image">
                                        <img  th:id="zoom-image"   th:src="${'/productImages/' + product.images[0].imageUrl}" th:data-zoom-image="${product.images[0].imageUrl}"     th:alt="${product.images[0].imageUrl}" style="max-width: 98%; height: auto;" >
                                    </figure><!-- End .product-main-image -->

                                    <div id="zoom"   class="product-image d-flex justify-content-center">
                                        <div class="product-subimage-row d-flex" id="zoom-image-container">
                                            <th:block th:each="image,iterStat : ${product.images}" th:if="${iterStat.count <= 4 }">
                                                <a class="product-gallery-item" href="#" data-image="/assets/images/products/single/extended/1.jpg" data-zoom-image="/assets/images/products/single/extended/1-big.jpg">
                                                    <img id="product-image" th:src="@{/productImages/{imageUrl}(imageUrl=${image.imageUrl})}" th:alt="${image.imageUrl}">
                                                </a>
                                            </th:block>
                                        </div>
                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title" th:text="${product.productName}"></h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">

                                            <div th:if="${product.averageRating > 0}" class="ratings-val" th:style="${#strings.concat('width: ', product.averageRating, '%')}"></div>

                                            <div th:unless="${product.averageRating > 0}" class="empty-ratings-val"></div>
                                        </div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text"></span>





                                    <div class="product-price " id="variantPrice" th:text="${variants[0].price}">

                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p th:text="${product.description}"> </p>
                                    </div><!-- End .product-content -->


                                    <div class="variant-selection mt-3">
                                        <label for="variant">Select Variant:</label>
                                        <select id="variant" class="form-control" onchange="variantSelect()">
                                            <option value="0">Select</option>
                                            <option th:each="variant : ${variants}" th:value="${variant.id}" th:text="  ${variant.variantName}">
                                                variant name
                                            </option>
                                        </select>
                                    </div>





                                    <div>
                                        <input type="hidden" name="variantId" id="hiddenVariantId">
                                        <input type="button" class="btn btn-primary" onclick="addtocart()" value="Add to Cart">
                                        <input type="button" class="btn btn-success" onclick="addToWishlist()" value="Add to Wishlist">

                                    </div>


                                    <!-- Modal for Wishlist Confirmation -->
                                    <div class="modal fade" id="wishlistModal" tabindex="-1" aria-labelledby="wishlistModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="wishlistModalLabel">Item Added to Wishlist</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    The selected item has been added to your wishlist.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>










                                    <div class="product-details-footer" id="message-container">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <h3
                                            th:text="${product.category.categoryName}"></h3>

                                        </div><!-- End .product-cat -->


                                    </div><!-- End .product-details-footer -->




                                <div class="review" th:if="${hasPurchased && !hasReviewed}">
                                    <form class="row no-gutters" method="post" th:action="@{/review}" id="reviewForm">
                                        <input type="hidden" name="productId" th:value="${product.id}">

                                        <div class="col">
                                            <h4>Write a review</h4>
                                            <div class="review-content">
                                                <textarea rows="3" name="review" style="width: 100%; border: 1px solid #98999b;"></textarea>
                                            </div><!-- End .review-content -->
                                            <div class="rating-box">
                                                <header>How was your experience?</header>
                                                <div class="stars">

                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <!-- Add your star rating inputs here -->
                                                </div>
                                            </div>
                                            <input type="hidden" id="ratingInput" name="rating" value="">
                                            <button class="btn-primary" type="submit">Submit</button>
                                            <!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </form><!-- End .row -->

                                    <div id="customAlertModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close" id="closeModal">&times;</span>
                                            <p>Please enter both a rating and a review before submitting.</p>
                                        </div>
                                    </div>

                                </div>
                                <div th:unless="${hasPurchased && !hasReviewed}">
                                    <!-- Display a message or alternative content when the user has already reviewed the product or has not purchased the product -->
                                    <p>You have already reviewed this product or have not purchased it.</p>
                                </div>











                                    <div class="card-body">
                                        <div class="reviews">
                                            <div class="accordion" id="reviewAccordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="mb-0">
                                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#allReviewsCollapse" aria-expanded="true" aria-controls="allReviewsCollapse">
                                                                <span class="toggle-icon">+</span> Expand All Reviews
                                                            </button>
                                                        </h4>
                                                    </div>
                                                    <div id="allReviewsCollapse" class="collapse" aria-labelledby="allReviewsCollapse">
                                                        <div class="card-body">
                                                            <div th:each="allReviews : ${allReview}">
                                                                <div class="row no-gutters mb-3">
                                                                    <div class="col-auto">
                                                                        <h4><a href="#" th:text="${allReviews.userInfo.userName}"></a></h4>
                                                                        <div class="ratings-container">
                                                                            <div class="ratings">
                                                                                <div class="ratings-val" th:style="'width: ' + ${allReviews.rating * 20} + '%;'"></div><!-- End .ratings-val -->
                                                                            </div><!-- End .ratings -->
                                                                        </div><!-- End .rating-container -->
                                                                        <span class="review-date"></span>
                                                                    </div><!-- End .col -->
                                                                    <div class="col">
                                                                        <h4 th:text="${allReviews.review}"></h4>
                                                                        <div class="review-content"></div><!-- End .review-content -->
                                                                    </div><!-- End .col-auto -->
                                                                </div><!-- End .row -->
                                                            </div><!-- End th:each -->
                                                        </div>
                                                    </div>
                                                </div><!-- End .card -->
                                            </div><!-- End .accordion -->
                                        </div><!-- End .reviews -->
                                    </div><!-- End .card-body>


                            </div><-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->
                </div><!-- End .container -->




            </div><!-- End .page-content -->
            </div>
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="/assets/images/secondskinlogo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a th:href="@{/logout}">LogOut</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a th:href="@{/}">Home</a>


                    </li>
                    <li>
                        <a th:href="@{/product-gallery}">Shop</a>

                    </li>
                    <li>
                        <a th:href="@{/cart}">my Cart</a>

                    </li>
                    <li>
                        <a th:href="@{/details/user-account}">My Account</a>

                    </li>



                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/0.0.1/zoom.min.js" integrity="sha512-OhJxb3F/IiF96I1C2hoqRw8iu54GLjgaw/Bl0SRBuuK2qtPqgpKh5m15dSJxub1GwUgxVGzsBotW742Iva4Y6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/0.0.1/zoom.js" integrity="sha512-6E6ANOHjAoSVKVdprNwFYCmjBSBak4ieFbj4AYdRdzA8lLvIdEwwJbV93FO1SFKcvghYBtGP6DrcBUEjOlW0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


    function variantSelect(){
        const variant = document.getElementById('variant').value;
        const variantId = +variant;
        console.log(typeof(variantId));
        console.log("vanno?",variantId);

try{
fetch(`/get-variant/`+variantId)
        .then(response => response.json())
            .then(data => {
            console.log(data)
            document.getElementById('variantPrice').innerHTML = data.price;
            })


}
catch (e){
 console.log(e.message)
}

    }


<!--Add to cart-->

    function addtocart(){
    const variantId = document.getElementById('variant').value;


    try{
    fetch('/addToCart/'+variantId)
            .then(response => response.json())
            .then(data => {
               alert(data)

            })
    }
    catch (e){
    console.log(e.message)
    }


    }

</script>

<script>


function addToWishlist() {
    const variantId = document.getElementById('variant').value;

    if (variantId) {
        // Send the variantId to the backend Fetch
        fetch('/wishlist/add-to-wishlist/' + variantId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ variantId }),
        })
        .then(response => {
            if (response.ok) {
                // Show a success notification using Toastr
                toastr.success('Item added to the wishlist', 'Success');
            } else {
                // Show an error notification using Toastr
                toastr.error('Failed to add product to wishlist', 'Error');
            }
        })
        .catch(error => {
            console.error('Error adding product to wishlist:', error);
            // Show an error notification using Toastr
            toastr.error('An error occurred', 'Error');
        });
    } else {
        console.error('No variant selected.');
    }
}



</script>

    <!-- Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>





    <script>
  document.addEventListener("DOMContentLoaded", function () {
    const ratings = document.querySelectorAll(".ratings");
    const reviewInput = document.getElementById("review");
    const ratingForm = document.querySelector("form");

    ratings.forEach((rating) => {
      rating.addEventListener("click", function () {
        const selectedRating = parseInt(rating.getAttribute("data-rating"));

        // Fill the ratings up to the selected rating
        ratings.forEach((r) => {
          const rRating = parseInt(r.getAttribute("data-rating"));
          if (rRating <= selectedRating) {
            r.classList.add("filled");
          } else {
            r.classList.remove("filled");
          }
        });
      });
    });

    ratingForm.addEventListener("submit", function (e) {
      e.preventDefault();

      // Get the selected rating
      const selectedRating = parseInt(document.querySelector(".ratings.filled").getAttribute("data-rating"));

      // Get the product ID
      const productId = document.querySelector("input[name='productId']").value;

      // Get the review text
      const reviewText = reviewInput.value;

      // Create an object to send to the backend
      const data = {
        productId: productId,
        rating: selectedRating,
        reviewText: reviewText,
      };

      // Send the data to the backend using fetch
      fetch("/review", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            return response.text();
          } else {
            throw new Error("Failed to submit review.");
          }
        })
        .then((message) => {
          // Handle the response from the backend if needed
          console.log("Review submitted successfully.");

          // Display the success message on the page
          const successMessageDiv = document.createElement('div');
          successMessageDiv.classList.add('alert', 'alert-success');
          successMessageDiv.textContent = message;

          // Append the success message to a container on your page
          const messageContainer = document.getElementById('message-container'); // Replace with the actual container ID
          messageContainer.appendChild(successMessageDiv);
        })
        .catch((error) => {
          console.error(error);
        });
    });
  });
</script>



    <!---Script for ratings star -->
    <script>
        const stars = document.querySelectorAll(".stars i");

    stars.forEach((star, index1) => {
    star.addEventListener("click", () => {
        stars.forEach((star, index2) => {
        index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
        });

        const selectedStars = document.querySelectorAll(".stars i.active").length;
        document.getElementById("ratingInput").value = selectedStars;
    });
    });
    </script>





    <script>

    document.addEventListener("DOMContentLoaded", function () {
    const reviewForm = document.getElementById("reviewForm");
    const customAlertModal = document.getElementById("customAlertModal");
    const closeModal = document.getElementById("closeModal");

    reviewForm.addEventListener("submit", function (event) {
    const ratingInput = document.getElementById("ratingInput").value.trim();
    const reviewInput = document.querySelector('textarea[name="review"]').value.trim();

    if (ratingInput === "" || reviewInput === "") {
    // Display the custom modal alert
    customAlertModal.style.display = "block";
    // Prevent the form from submitting
    event.preventDefault();
    }
    });

    // Close the modal when the close button is clicked
    closeModal.addEventListener("click", function () {
    customAlertModal.style.display = "none";
    });

    // Close the modal when clicking outside of it
    window.addEventListener("click", function (event) {
    if (event.target === customAlertModal) {
    customAlertModal.style.display = "none";
    }
    });
    });

    </script>



    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const accordionButton = document.querySelector('[data-toggle="collapse"]');
        const accordionCollapse = document.querySelector(accordionButton.getAttribute('data-target'));

        // Toggle the accordion when the button is clicked
        accordionButton.addEventListener('click', function () {
            if (accordionCollapse.classList.contains('show')) {
                accordionCollapse.classList.remove('show');
                accordionButton.querySelector('.toggle-icon').textContent = '+';
            } else {
                accordionCollapse.classList.add('show');
                accordionButton.querySelector('.toggle-icon').textContent = '-';
            }
        });

        // Set the initial icon based on the initial state
        if (accordionCollapse.classList.contains('show')) {
            accordionButton.querySelector('.toggle-icon').textContent = '-';
        } else {
            accordionButton.querySelector('.toggle-icon').textContent = '+';
        }
    });
</script>

</body>



</html>